<mat-toolbar
  matRipple
  [class.disabled]="mission.isDisabled() && !mission.notifyOfNewRang"
  [class.completed]="mission.isCompleted() && !mission.notifyOfNewRang"
  class="todo-item"
  style="
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    x-background-image: url(assets/images/textures/iron.jpg);
    x-background-size: 200px;
  "
  [class.bronze-mission]="mission.getRewardCoef() === 2"
  [class.silver-mission]="mission.getRewardCoef() === 3"
  [class.gold-mission]="mission.getRewardCoef() === 4"
>
  <!-- <div -->
  <!--   style="position: absolute; width: 100%; height: 100%" -->
  <!--   [class.dirty-mission]=" -->
  <!--     mission.getStats().streak.doneToday == false && -->
  <!--     (mission.getReward().keyType === 0 || mission.getReward().keyType === 4) -->
  <!--   " -->
  <!-- ></div> -->
  <!---->
  <!-- <div -->
  <!--   style="position: absolute; width: 100%; height: 100%" -->
  <!--   [class.broken-mission]="mission.getStats().hearts <= 2" -->
  <!-- ></div> -->
  <!---->
  <!-- <div -->
  <!--   style="position: absolute; width: 100%; height: 100%" -->
  <!--   [class.rusty-mission]="mission.getStats().hearts <= 1" -->
  <!-- ></div> -->
  <div
    *ngIf="mission.getConfig().skin"
    class="mission-skin"
    style="background-image: url(assets/images/textures/{{
      mission.getConfig().skin
    }})"
  ></div>
  <div style="width: 10px"></div>
  <button
    id="days-left-indicator"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [disabled]="
      mission.isDisabled() ||
      mission.getConfig().autocomplete ||
      mission.getConfig().doneToday >= mission.getConfig().maxPerDay
    "
    (click)="this.mission.complete(); getReward(mission, reward); earnXp()"
  >
    <mat-icon>done</mat-icon>
  </button>

  <span id="todo-title">{{ mission.getConfig().title }}</span>
  <span class="example-spacer"></span>

  <mat-chip-listbox>
    <mat-chip-option
      matTooltip="Ранняя пташка, выполните задание полностью до 11:00 чтобы получать бонусный опыт в течении всего дня!"
    >
      <span
        [style]="
          mission.getStats().earlyBirdBonus ? '' : 'filter: grayscale(100%)'
        "
      >
        ☀️
      </span>
    </mat-chip-option>

    <mat-chip-option
      *ngIf="mission.getConfig().step < 50 || mission.getConfig().maxPerDay > 2"
      matTooltip="Комбо"
      matTooltip="Соберите 3 огонька чтобы получать двойной опыт!"
    >
      <span style="display: flex">
        <span style="margin: 0px"> {{ mission.getFire() }}</span>
        <span style="margin: 0px; filter: grayscale(100%)">
          {{ mission.getDeadFire() }}</span
        >
      </span>
    </mat-chip-option>
    <mat-chip-option
      class="skill"
      [class.newRang]="mission.notifyOfNewRang"
      [color]="
        mission.getStats().hearts === 0
          ? 'warn'
          : mission.getStats().hearts === 1
            ? 'accent'
            : 'primary'
      "
      matTooltip="Уровень навыка"
      *ngIf="mission.getSkillXp()"
      (click)="showSkins()"
      >{{ mission.getSkillRang().title }}
      <!-- <img -->
      <!--   style="margin-left: 1px; margin-bottom: 2px" -->
      <!--   src="assets/images/common/xp.webp" -->
      <!-- /> -->
      <img
        [matTooltip]="mission.getSkillProgress()"
        style="margin-left: 1px; margin-bottom: 2px; width: 35px"
        [src]="mission.getSkillRang().icon"
      />
    </mat-chip-option>

    <mat-chip-option
      *ngIf="mission.getConfig().skillXp > 0"
      matTooltip="Здоровье навыка"
    >
      <span>{{ mission.getHearts() }}</span>
      <span style="filter: grayscale(100%)">{{
        mission.getBrokenHearts()
      }}</span>
    </mat-chip-option>

    <mat-chip-option
      matTooltip="Уровень мастерства"
      *ngIf="mission.getConfig().stars"
    >
      <span>{{ mission.getConfig().achivedStars() }}</span>
      <span style="filter: grayscale(100%)">{{
        mission.getConfig().unachivedStars()
      }}</span>
    </mat-chip-option>

    <mat-chip-option matTooltip="Ударный режим">
      <span
        [style]="
          mission.getStats().streak.doneToday === false
            ? 'filter: grayscale(100%)'
            : ''
        "
        >{{ mission.getStats().streak.days }}🔥</span
      >
    </mat-chip-option>

    <mat-chip-option matTooltip="Перезарядка навыка">
      {{ remeainingTime() }}
    </mat-chip-option>

    <!-- <mat-chip-option>{{ mission.getConfig().step }}%</mat-chip-option> -->
    <!-- <mat-chip-option -->
    <!--   color="accent" -->
    <!--   [selected]="mission.getConfig().refreshTime.includes('h')" -->
    <!--   [matTooltip]=" -->
    <!--     mission.getConfig().refreshTime.includes('h') -->
    <!--       ? 'У этого задания длительный перерыв' -->
    <!--       : 'Время перерыва' -->
    <!--   " -->
    <!--   >{{ mission.getConfig().refreshTime }}</mat-chip-option -->
    <!-- > -->
    <!-- <mat-chip-option matTooltip="Время на повторное появление задания">{{ -->
    <!--   mission.getConfig().respawnTime -->
    <!-- }}</mat-chip-option> -->
    <mat-chip-option
      matTooltip="Очки опыта"
      style="display: flex; justify-content: center"
      >{{ mission.getConfig().xp | prettyNumber }}
      <img
        [id]="'M' + mission.getConfig().hash"
        style="margin-left: 1px; margin-bottom: 2px"
        src="assets/images/common/xp.webp"
      />
      <ng-container *ngIf="mission.getStats().onFire === 3">
        + {{ mission.getConfig().xp }}
        <img
          [id]="'M' + mission.getConfig().hash"
          style="margin-left: 1px; margin-bottom: 2px"
          src="assets/images/common/xp.webp"
        />
      </ng-container>
      <ng-container *ngIf="mission.getStats().earlyBirdBonus">
        + {{ mission.getConfig().xp }}
        <img
          [id]="'M' + mission.getConfig().hash"
          style="margin-left: 1px; margin-bottom: 2px"
          src="assets/images/common/xp.webp"
        />
      </ng-container>

      <ng-container *ngIf="mission.getStats().streak.days > 0">
        + {{ mission.getStats().streak.days }}
        <img
          [id]="'M' + mission.getConfig().hash"
          style="margin-left: 1px; margin-bottom: 2px"
          src="assets/images/common/xp.webp"
        />
      </ng-container>
    </mat-chip-option>

    <mat-chip-option
      color="primary"
      matTooltip="Коэфициент награды"
      selected
      *ngIf="mission.getRewardCoef() > 1"
    >
      x{{ mission.getRewardCoef() }}</mat-chip-option
    >

    <mat-chip-option
      *ngIf="
        mission.getConfig().maxPerDay !== undefined &&
        mission.getDoneToday() !== undefined
      "
      color="primary"
      matTooltip="Сегодня это задание можно выполнить ещё {{
        mission.leftToDoToday()
      }} раз"
      selected
    >
      {{ mission.getDoneToday() }} / {{ mission.getConfig().maxPerDay }}
    </mat-chip-option>
  </mat-chip-listbox>

  <div style="width: 100px"></div>
  <!-- Check the todo  -->

  <div #reward style="width: 80px" [class.hidden]="mission.isCompleted()">
    <span
      style="color: transparent; position: absolute; right: 45px; top: 20px"
      [matBadge]="
        mission.getReward().amount * mission.getRewardCoef() > 1
          ? mission.getReward().amount *
            mission.getRewardCoef() *
            (mission.getStats().doneToday + 1)
          : ''
      "
      >X</span
    >
    <img
      *ngIf="mission.getReward().keyType === 0"
      style="width: 100%"
      src="assets/images/keys/common.png"
    />
    <img
      *ngIf="mission.getReward().keyType === 1"
      style="width: 100%"
      src="assets/images/keys/rare.png"
    />
    <img
      *ngIf="mission.getReward().keyType === 2"
      style="width: 100%"
      src="assets/images/keys/epic.png"
    />
    <img
      *ngIf="mission.getReward().keyType === 3"
      style="width: 100%"
      src="assets/images/keys/legendary.png"
    />
    <img
      *ngIf="mission.getReward().keyType === 4"
      style="width: 100%"
      src="assets/images/coins/diamonds_mini.webp"
    />
    <img
      *ngIf="mission.getReward().keyType === 5"
      style="width: 100%"
      src="assets/images/coins/diamonds.webp"
    />
  </div>
  <div style="width: 30px"></div>

  <mat-progress-bar
    color="primary"
    style="position: absolute; bottom: 0px; z-index: 20"
    mode="determinate"
    [value]="mission.getProgress()"
  >
  </mat-progress-bar>

  <mat-progress-bar
    *ngIf="mission.getRequiredProgress() > 0"
    color="primary"
    style="position: absolute; bottom: 0px; z-index: 25"
    mode="buffer"
    [value]="mission.getProgress()"
    [bufferValue]="mission.getRequiredProgress()"
  >
  </mat-progress-bar>
</mat-toolbar>
