.todo-item {
  transition:
    height 1s,
    opacity 1s;
}

* {
  font-family: Main;
}

.example-spacer {
  flex: 1 1 auto;
}

.disabled {
  cursor: default !important;
  opacity: 0.5;
}

.hidden {
  opacity: 0 !important;
}

.rusty-mission {
  z-index: -1;
  background-image: url(../../../../assets/images/textures/rust.png);
}

.dirty-mission {
  z-index: -1;
  background-image: url(../../../../assets/images/textures/dirty.png);
  background-size: 380px;
}

.broken-mission {
  z-index: -1;
  background-image: url(../../../../assets/images/textures/broken.png);
  background-size: 430px;
}

.bronze-mission {
  background: radial-gradient(circle, #8c5a3d, #c09b6b);
  font-family: "Main";
}

.silver-mission {
  background: radial-gradient(circle, #5b5b5b, #d9d9d9);
  font-family: "Main";
}

.gold-mission {
  background: radial-gradient(circle, #a17500, #ffea00) !important;
  font-family: "Main";
}

.mission-skin {
  position: absolute;
  width: 800px;
  right: 0px;
  height: 260px;
  animation: moveBackground 10s linear infinite; /* Анимация на 10 секунд, линейная, бесконечная */
  background-repeat: repeat;
  background-size: 67px;
  z-index: -1;
  transform: rotate(-34deg);
}
@keyframes moveBackground {
  from {
    background-position: 0 0; /* Начальная позиция */
  }
  to {
    background-position: 100% 0; /* Конечная позиция */
  }
}

.skill {
  transition-duration: 1s;
}

.newRang {
  background: gold !important;
  box-shadow: 10px 10px 80px gold;
}

mat-toolbar {
  .hide {
    transition-duration: 0.5s;
  }
}

.hover-text {
  display: inline; /* По умолчанию видимый текст */
}

.hover-content {
  display: none; /* По умолчанию содержимое скрыто */
}

.hover-container:hover .hover-text {
  display: none; /* Скрыть текст при наведении */
}

.hover-container:hover .hover-content {
  display: block; /* Показать содержимое при наведении */
}

// :host ::ng-deep .mdc-linear-progress__bar-inner {
//   border-radius: 20px !important;
// }
