.card-display {
  width: 100%;
  height: calc(100vh - 112px);
  display: flex;
  align-items: center;
  justify-content: center;

  .star {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: gold;
    z-index: -2;
    width: 100vh;
    height: 100vh;
    max-width: 550px;
    max-height: 550px;
    background-size: contain;
    background-repeat: no-repeat;

    svg {
      cursor: pointer;
      animation: openMe 0.6s ease-in-out infinite;
      position: absolute;
      transition-duration: 0.5s;
      transform: scale(0.2);
      transform-origin: center center;
    }

    .hide {
      opacity: 0;
      transform: rotate(-20deg) scale(0.2);
    }
  }

  .card {
    transition-duration: 2s;
    top: 0px;
    background: #393939;
    width: 300px;
    height: 400px;
    z-index: 0;

    border: none;

    mat-slider {
      z-index: 20;
      margin: 0px;
    }

    .cut {
      display: none;
      z-index: 5;
      position: absolute;
      top: 22px;
      background: #292929;
      width: 100%;
      height: 4px;
      border-radius: 4px;
    }

    .cut-line {
      z-index: 5;
      position: absolute;
      border: 1px dashed #ccc;
      top: 22px;
      background: #292929;
      width: 100%;
      border-radius: 4px;
    }

    .content {
      font-family: "Ubuntu", sans-serif;
      font-size: 26px;
      line-height: 46px;
      color: #fff;
      transition-duration: 1s;
      top: 115px;
      position: absolute;
      z-index: 9;
      left: 5px;
      width: 300px;
      height: 340px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      padding-left: 20px;
      img {
        user-drag: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
      }

      .rare {
        filter: drop-shadow(5px 5px 15px #3f51b5);
      }

      .gold {
        filter: drop-shadow(5px 5px 15px #c5a93d);
      }

      .title {
        font-family: Roboto, sans-serif;
        transition-duration: 0.5s;
        box-shadow: 0px 20px 15px #565151;
        background: #292929e0;
        border-radius: 32px;
        font-size: 19px;
        line-height: 16px;
        padding: 10px;
      }

      .hidden-title {
        opacity: 0;
        transform: scale(1.5);
      }
    }

    .card-front {
      top: 26px;
      width: 100%;
      height: calc(100% - 30px);
      background: #393939;
      position: absolute;
      z-index: 10;
      border-radius: 0px 0px 15px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      svg {
        width: 50%;
      }
    }
  }
}

.up {
  top: -600px !important;
  margin-top: 45px;
}

.down {
  top: 600px !important;
}

.show {
  display: block !important;
}

.animate {
  animation: spin 6s linear infinite;
}

.hideCard {
  top: 1000px !important;
}

.no-animate {
  transition-duration: 0s !important;
}

.remove {
  transform: translate(1000px, -1000px) rotate(60deg);
}

.wiggle {
  animation: wiggle 3s ease-in-out infinite;
}

.hide {
  opacity: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes openMe {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
