<div
  class="side-nav-background"
  (click)="closeSideNav()"
  *ngIf="isSideNav"
></div>
<div class="side-nav" [class.opened]="isSideNav">
  <mat-toolbar color="secondary">
    <mat-toolbar-row class="navigation">
      <span class="side-nav-navigation ms-3">Navigation</span>

      <div>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>settings</mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="toggleTheme()"
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon *ngIf="!themeService.isDarkTheme">wb_sunny</mat-icon>
          <mat-icon *ngIf="themeService.isDarkTheme">brightness_2</mat-icon>
        </button>

        <button
          mat-icon-button
          class="close-side-nav-btn"
          (click)="closeSideNav()"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="side-nav-content bg-body">
    <mat-list *ngFor="let group of groups">
      <mat-list-item>
        <mat-icon matListItemIcon>{{ group.icon }}</mat-icon>
        <div matListItemTitle>{{ group.title }}</div>
      </mat-list-item>
      <!--<mat-divider></mat-divider>-->
      @for (item of group.items; track item) {
        <mat-list-item class="article" mat-ripple (click)="closeSideNav()">
          <mat-icon matListItemIcon>label</mat-icon>

          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>

          <div matListItemTitle>
            <button mat-raised-button (click)="item.method()">
              {{ item.title }}
            </button>
          </div>
        </mat-list-item>
      }

      <mat-divider></mat-divider>
    </mat-list>
  </div>

  <app-footer />
</div>
