<div
  style="padding: 50px"
  class="parent"
  [class.loading]="loading"
  [class.finish]="finish"
>
  <mat-tab-group style="">
    <mat-tab label="⬤ Ежедневные задания">
      <br />
      <ng-container *ngFor="let mission of missions">
        <app-mission [mission]="mission" />
      </ng-container>
    </mat-tab>
    <mat-tab label="⬤ Редкие задания">
      <br />
      <ng-container *ngFor="let mission of rareMissions">
        <app-mission [mission]="mission" />
      </ng-container>
    </mat-tab>
    <mat-tab label="⬤ Эпические задания">
      <br />
      <ng-container *ngFor="let mission of epicMissions">
        <app-mission [mission]="mission" />
      </ng-container>
    </mat-tab>
    <mat-tab label="⬤ Легендарные задания">
      <br />
      <ng-container *ngFor="let mission of legendaryMissions">
        <app-mission [mission]="mission" />
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<span *ngIf="update$ | async"></span>
