<div style="padding: 50px">
  <mat-tab-group style="">
    <mat-tab label="⬤ Ежедневные задания">
      <br />
      <ng-container *ngFor="let mission of missions">
        <app-mission [mission]="mission" />
      </ng-container>
    </mat-tab>
    <mat-tab label="⬤ Еженедельные задания"> Content 2 </mat-tab>
    <mat-tab label="⬤ Кастомные задания">
      <br />
      <ng-container *ngFor="let mission of customMissions">
        <app-mission [mission]="mission" />
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
