<p [class.hide-navbar]="hideNavbar">
  <mat-toolbar color="primary">
    <a [routerLink]="['/']">
      <span class="logo"
        ><mat-icon>{{ appConfig.appIcon }}</mat-icon></span
      >
      <span class="app-title"> {{ appConfig.appName }}</span>
    </a>

    <span class="example-spacer"></span>

    <span class="vr d-none d-sm-block d-md-block d-lg-block d-xl-block"></span>

    <button
      mat-icon-button
      class="d-none d-sm-block d-lg-block d-md-block d-xl-block example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>search</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="openSideNav()"
      class="open-side-nav"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="br"></div>
