.vr {
  margin: 10px;
  opacity: 0;
}
nav {
  background: #343a40 !important;

  padding: 10px;
  a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

p {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  z-index: 10;
  box-shadow:
    0 3px 5px -1px #0003,
    0 6px 10px #00000024,
    0 1px 18px #0000001f;
}

img {
  height: 26px;
  margin-right: 6px;
}

.br {
  height: 64px;
}

.logo {
  mat-icon {
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

p {
  transition-duration: 0.3s;
  top: 0px;
}

.hide-navbar {
  top: -70px;
}

.small-title {
  font-size: 13px;
}
