/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #3f51b5;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #3f55cc;
}
