<div class="container">
  <h1><mat-icon>assignment_ind</mat-icon>Войти</h1>
  <form [formGroup]="signInForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Имя пользователя</mat-label>
      <input matInput formControlName="username" type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <button
      id="sign-in-button"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="this.signInForm.invalid || (isSubmitting$ | async)"
    >
      Войти
    </button>
  </form>
</div>
