<div class="container">
  <br />
  <h1>Личный кабинет</h1>

  <div class="row">
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            >{{ (currentUser$ | async)?.name }} ({{
              (currentUser$ | async)?.username
            }})</mat-card-title
          >
          <mat-card-subtitle>{{
            (currentUser$ | async)?.role | parseRole
          }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/ngrx.png" />
        <mat-card-content>
          <br />
          <button
            mat-raised-button
            color="primary"
            class="me-2 mb-1"
            (click)="openChangePasswordDialog()"
          >
            <mat-icon>edit</mat-icon>Сменить пароль
          </button>
          <button
            mat-raised-button
            color="warn"
            class="mb-1"
            (click)="logOut()"
          >
            <mat-icon>exit_to_app</mat-icon>Выйти
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <form
      *ngIf="currentUserForm$ | async as form"
      [formGroup]="form"
      class="col-8"
      (submit)="patchUser(form.value)"
    >
      <div class="row">
        <mat-form-field class="col-6">
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="surname" />
        </mat-form-field>

        <div class="col-6"></div>

        <mat-form-field class="col-6">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <div class="col-6"></div>

        <mat-form-field class="col-6">
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="midname" />
        </mat-form-field>

        <div class="col-6"></div>
      </div>

      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon>Сохранить изменения
      </button>
    </form>
  </div>
</div>

<br />

<div class="container pb-4"></div>
