.full-width {
  width: 100%;
}

.example-header-image {
  background-image: url(../../../../assets/images/ngrx.png);
  background-size: cover;
}

.dialog {
  padding: 20px 100px 20px 100px;
}

.example-spacer {
  flex: 1 1 auto;
}
