<div class="container">
  <div
    style="
      display: flex;
      position: sticky;
      top: 0px;
      height: 40px;
      justify-content: flex-end;
      background: #393939;
      width: 100%;
      padding-top: 10px;
      margin-bottom: 10px;
      z-index: 1000;
    "
  >
    <br />
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <div class="row">
    <ng-container *ngFor="let item of items">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <mat-card class="example-card">
          <mat-card-header class="header">
            <div mat-card-avatar class="example-header-image">💫</div>
            <mat-card-title class="mb-1">{{ item.title }}</mat-card-title>
            <mat-card-subtitle>{{ dict[item.type] }}</mat-card-subtitle>
          </mat-card-header>
          <div
            mat-card-image
            style="background-image: url('{{
              item.image
            }}'); background-size: contain; height: calc(100% - 125px)"
          ></div>
          <mat-card-content>
            <p></p>
          </mat-card-content>
          <mat-card-actions
            class="action"
            style="
              position: absolute;
              bottom: 0px;
              width: 100%;
              display: flex;
              justify-content: space-between;
            "
          >
            <button
              color="primary"
              [class.accent]="item?.amt"
              mat-raised-button
            >
              {{ item?.amt ? item.amt : 1 }} шт.
            </button>

            <button mat-raised-button color="primary">
              Шанс выпдаения {{ item.probability }} %
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
