.example-card {
  max-width: 400px;
  height: 300px;
  overflow: hidden;
}

.action {
  background-color: var(--mdc-elevated-card-container-color);
}

// .example-header-image {
//   background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
//   background-size: cover;
// }
