<div class="container">
  <br />
  <div class="row">
    <ng-container *ngFor="let item of items | async">
      <div *ngIf="item.amount" class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <mat-card class="example-card">
          <mat-card-header class="header">
            <div mat-card-avatar class="example-header-image">💫</div>
            <mat-card-title class="mb-1">{{ item.key }}</mat-card-title>
            <mat-card-subtitle>{{ item.type }}</mat-card-subtitle>
          </mat-card-header>
          <div
            mat-card-image
            style="background-image: url('{{
              item.image
            }}'); background-size: contain; height: calc(100% - 125px)"
          ></div>
          <mat-card-content>
            <p></p>
          </mat-card-content>
          <mat-card-actions
            class="action"
            style="
              position: absolute;
              bottom: 0px;
              width: 100%;
              display: flex;
              justify-content: space-between;
            "
          >
            <button mat-raised-button color="primary">
              {{ item.amount }} шт.
            </button>

            <div>
              <button
                mat-raised-button
                class="me-2"
                color="primary"
                (click)="takeOutOne(item)"
              >
                Вывести 1 шт.
              </button>

              <button mat-raised-button color="primary" (click)="takeOut(item)">
                Вывести всё
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
